@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* ======================= Font ========================= */
* {
  font-family: "Lato", sans-serif;
}

/* .font_title{
  font-family: "Ubuntu", sans-serif;
} */
.font_title{
  font-family: "Lora", serif;
}
/* ======================= Font ========================= */

/* ================= Small Screen no scroll ==================== */
body.no-scroll {
  overflow: hidden;
}

/* ========================== Review Star Color ======================= */
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: goldenrod !important;
}


/* ===================== CheckBox Design ==================== */
/* Hide the default checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px; /* Adjust the size of the checkbox */
  height: 20px; /* Adjust the size of the checkbox */
  border: 1px solid #685DD8; /* Border color */
  border-radius: 20%; /* Make it round */
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative; /* Ensure proper positioning of checkmark */
}

/* Custom styles for checked state */
input[type="checkbox"]:checked {
  background-color: #685DD8; /* Background color when checked */
  border-color: #685DD8; /* Border color when checked */
}

/* Custom styles for unchecked state */
input[type="checkbox"]:not(:checked) {
  background-color: #fff; /* Background color when unchecked */
  border-color: #ccc; /* Border color when unchecked */
}

/* Optional: Add a checkmark icon */
input[type="checkbox"]::after {
  content: "\2713"; /* Unicode checkmark symbol */
  font-size: 14px; /* Adjust size as needed */
  color: #fff; /* Color of the checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Hide by default */
  transition: opacity 0.3s; /* Smooth transition */
}

/* Show the checkmark icon when checkbox is checked */
input[type="checkbox"]:checked::after {
  opacity: 1;
}
